In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats 
plt.style.use("seaborn-dark")  
import sys
sys.path.append("../")
import edhec_risk_kit as erk

In [31]:
file_to_load = "../data/Portfolios_Formed_on_ME_monthly_EW.csv"
df = pd.read_csv(file_to_load, index_col=0, parse_dates=True, na_values=-99.99)
df.head()
df.index = pd.to_datetime(df.index, format="%Y%m")

### 1-4

In [32]:
dff = df[["Lo 20", "Hi 20"]] / 100
dff.head()

             Lo 20   Hi 20
1926-07-01 -0.0057  0.0333
1926-08-01  0.0384  0.0233
1926-09-01 -0.0048 -0.0009
1926-10-01 -0.0329 -0.0295
1926-11-01 -0.0055  0.0316

In [33]:
# ANNUAL RETURN
nmonths = dff.shape[0]
annulized_return = ((dff+1).prod())**(12/nmonths)-1
annulized_return

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [34]:
# ANNUAL VOL
vol = dff.std()
annualized_vol = vol * np.sqrt(12)
annualized_vol

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

### 5-8

In [35]:
dff_9905 = df["1999":"2015"][["Lo 20", "Hi 20"]] / 100
dff_9905.tail()

             Lo 20   Hi 20
2015-08-01 -0.0347 -0.0559
2015-09-01 -0.0610 -0.0333
2015-10-01  0.0385  0.0710
2015-11-01  0.0165  0.0015
2015-12-01 -0.0500 -0.0229

In [36]:
# ANNUAL RETURN
nmonths = dff_9905.shape[0]
annulized_return = ((dff_9905+1).prod())**(12/nmonths)-1
annulized_return

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [37]:
# ANNUAL VOL
vol = dff_9905.std()
annualized_vol = vol * np.sqrt(12)
annualized_vol

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

## 9-12

In [9]:
rets = df[["Lo 20", "Hi 20"]] / 100
wealth_index = 100 * (1 + rets).cumprod()
wealth_index.head()

                 Lo 20       Hi 20
1926-07-01   99.430000  103.330000
1926-08-01  103.248112  105.737589
1926-09-01  102.752521  105.642425
1926-10-01   99.371963  102.525974
1926-11-01   98.825417  105.765794

In [10]:
def cal_drawdown(return_series: pd.Series):
    """
    Takes a time series of asset returns
    Computer and returns a DataFrame thhat contains:
    the wealth index
    the previous index
    percent drawdowns
    """
    wealth_index = 1000*(1+return_series).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index-previous_peaks)/previous_peaks
    return pd.DataFrame({
        "Wealth": wealth_index,
        "Peaks": previous_peaks,
        "Drawdown": drawdowns
    })

In [11]:
print("Lo 20:")
print(cal_drawdown(rets["1999":"2015"]['Lo 20'])[["Drawdown"]].min())
print(cal_drawdown(rets["1999":"2015"]['Lo 20'])[["Drawdown"]].idxmin())
print("Hi 20:")
print(cal_drawdown(rets["1999":"2015"]['Hi 20'])[["Drawdown"]].min())
print(cal_drawdown(rets["1999":"2015"]['Hi 20'])[["Drawdown"]].idxmin())

Lo 20:
Drawdown   -0.624809
dtype: float64
Drawdown   2009-02-01
dtype: datetime64[ns]
Hi 20:
Drawdown   -0.552735
dtype: float64
Drawdown   2009-02-01
dtype: datetime64[ns]

### 13-16

In [9]:
hfi = erk.get_hfi_returns()["2009":"2018"]
hfi.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01-31,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02-28,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03-31,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04-30,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05-31,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [11]:
seminv = erk.semivolatility( hfi )

In [12]:
seminv.idxmin()

'Fixed Income Arbitrage'

In [13]:
seminv.idxmax()

'Short Selling'

In [14]:
hfi = erk.get_hfi_returns()["2009":"2018"]
hfi.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01-31,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02-28,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03-31,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04-30,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05-31,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [18]:
a = hfi.aggregate( erk.skewness )
display(a)
a.idxmin()

Convertible Arbitrage     1.305911
CTA Global                0.052062
Distressed Securities    -0.254944
Emerging Markets          0.033123
Equity Market Neutral    -0.896327
Event Driven             -0.488821
Fixed Income Arbitrage    1.121453
Global Macro              0.348184
Long/Short Equity        -0.463703
Merger Arbitrage         -0.551065
Relative Value            0.159953
Short Selling             0.456518
Funds Of Funds           -0.646908
dtype: float64

'Equity Market Neutral'

In [21]:
hfi1 = erk.get_hfi_returns()["2000":"2018"]
hfi1.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2000-01-31,0.0227,0.0128,0.0088,0.0077,0.0075,0.0088,0.0041,0.0021,0.0075,0.0143,0.0173,0.0427,0.0169
2000-02-29,0.0267,-0.0022,0.0421,0.0528,0.0253,0.0346,0.0097,0.0408,0.0699,0.0239,0.0185,-0.1340,0.0666
2000-03-31,0.0243,-0.0138,0.0103,0.0318,0.0134,0.0069,-0.0061,-0.0104,0.0006,0.0131,0.0163,-0.0230,0.0039
2000-04-30,0.0223,-0.0241,-0.0101,-0.0541,0.0168,-0.0059,-0.0006,-0.0304,-0.0201,0.0188,0.0092,0.1028,-0.0269
2000-05-31,0.0149,0.0114,-0.0132,-0.0433,0.0062,-0.0034,0.0107,-0.0070,-0.0097,0.0146,0.0080,0.0704,-0.0122

In [38]:
b = hfi1.aggregate( erk.kurtosis )
display(b)
b.idxmax()

Convertible Arbitrage     23.001449
CTA Global                 2.845022
Distressed Securities      6.231720
Emerging Markets           5.941289
Equity Market Neutral     20.329621
Event Driven               5.543444
Fixed Income Arbitrage    33.378729
Global Macro               3.653278
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Relative Value            12.731096
Short Selling              4.352758
Funds Of Funds             7.584725
dtype: float64

'Fixed Income Arbitrage'